html {
  font-size: 20px;  
}

body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align:center;  
}

.blue {
  color:skyblue;  
}

.pink {
  color: rgb(255, 192, 203);  
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 2px 2px 4px gray;
  text-align: center;
  border-bottom: 3px solid rgb(115, 115, 114);
  padding-bottom: 10px;  
}

#basic p {
  font-weight: bold;  
}